*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.garde{
    height: 100%;
    background-image: url(/first/IMG/mountains-g938bf80f1_1920.jpg);
    background-size: cover;
}

.garde-g{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
}

.garde-g-div{
    height: 10s%;
    width: 40%;
    border-radius: 100%;
    background-color: #fff;
}

.nuage{
    height: 50px;
    padding-left: 6px;
}